<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/create_user">Create User</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            <% data.forEach((item,index) => { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td><%= item.city %></td>
                    <td><a class = "delete" href="/delete-user/<%= item.id%>" class="delete" id="<%= item.id%>">X</a></td>
                    <td><a class="btn-update" href="/update-user/<%= item.id%>">update</a></td>
                </tr>
                <% }); %>
            </table>
</html>